<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <airwallex>
            <general>
                <mode>demo</mode>
                <demo_client_id />
                <demo_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <prod_client_id />
                <prod_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <webhook_demo_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <webhook_prod_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <webhook>{}</webhook>
            </general>
        </airwallex>
        <payment>
            <airwallex_payments_express>
                <active>0</active>
                <model>AirwallexPaymentsExpressGatewayFacade</model>
                <title>Express Checkout (Airwallex)</title>
                <allowspecific>0</allowspecific>
                <display_area>product_page,minicart,cart_page,checkout_page</display_area>
                <apple_pay_active>0</apple_pay_active>
                <google_pay_active>0</google_pay_active>
                <theme>black</theme>
                <calltoaction>checkout</calltoaction>
                <button_height>50</button_height>
                <apple_pay_button_theme>black</apple_pay_button_theme>
                <google_pay_button_theme>black</google_pay_button_theme>
                <apple_pay_button_type>plain</apple_pay_button_type>
                <google_pay_button_type>buy</google_pay_button_type>
                <is_gateway>1</is_gateway>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <can_capture_partial>0</can_capture_partial>
                <can_void>1</can_void>
                <airwallex_payment_action>authorize_capture</airwallex_payment_action>
            </airwallex_payments_express>
            <airwallex_payments_card>
                <active>0</active>
                <vault_active>1</vault_active>
                <preverification>0</preverification>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <model>AirwallexPaymentsCardsGatewayFacade</model>
                <max_width>260</max_width>
                <fontsize>16</fontsize>
                <allowspecific>0</allowspecific>
                <title>Pay by Card (Airwallex)</title>
                <payment_action>authorize</payment_action>
                <airwallex_payment_action>authorize_capture</airwallex_payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_save_cc>0</can_save_cc>
                <cvc_required>1</cvc_required>
                <sort_order>10</sort_order>
            </airwallex_payments_card>
            <airwallex_cc_vault>
                <model>AirwallexCreditCardVaultFacade</model>
                <title>Saved Cards (Airwallex)</title>
                <active>1</active>
            </airwallex_cc_vault>
<!--            <airwallex_payments_wechatpay>-->
<!--                <active>0</active>-->
<!--                <model>AirwallexPaymentsWechatGatewayFacade</model>-->
<!--                <allowspecific>0</allowspecific>-->
<!--                <title>Pay by Wechat (Airwallex)</title>-->
<!--                <payment_action>authorize</payment_action>-->
<!--                <is_gateway>1</is_gateway>-->
<!--                <can_authorize>1</can_authorize>-->
<!--                <can_capture>1</can_capture>-->
<!--                <can_capture_partial>0</can_capture_partial>-->
<!--                <can_refund>1</can_refund>-->
<!--                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>-->
<!--                <can_void>1</can_void>-->
<!--                <can_cancel>1</can_cancel>-->
<!--                <can_use_internal>1</can_use_internal>-->
<!--                <can_use_checkout>1</can_use_checkout>-->
<!--                <sort_order>20</sort_order>-->
<!--            </airwallex_payments_wechatpay>-->
            <airwallex_payments_alipaycn>
                <active>0</active>
                <model>AirwallexPaymentsAlipayCNGatewayFacade</model>
                <allowspecific>0</allowspecific>
                <title>Pay by Alipay CN (Airwallex)</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>30</sort_order>
            </airwallex_payments_alipaycn>
            <airwallex_payments_dana>
                <active>0</active>
                <model>AirwallexPaymentsDanaGatewayFacade</model>
                <allowspecific>0</allowspecific>
                <title>Pay by Dana (Airwallex)</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>40</sort_order>
            </airwallex_payments_dana>
            <airwallex_payments_alipayhk>
                <active>0</active>
                <model>AirwallexPaymentsAlipayHKGatewayFacade</model>
                <allowspecific>0</allowspecific>
                <title>Pay by Alipay HK (Airwallex)</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>50</sort_order>
            </airwallex_payments_alipayhk>
            <airwallex_payments_gcash>
                <active>0</active>
                <model>AirwallexPaymentsGCashGatewayFacade</model>
                <allowspecific>0</allowspecific>
                <title>Pay by GCash (Airwallex)</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>60</sort_order>
            </airwallex_payments_gcash>
            <airwallex_payments_kakaopay>
                <active>0</active>
                <model>AirwallexPaymentsKakaoGatewayFacade</model>
                <allowspecific>0</allowspecific>
                <title>Pay by Kakao (Airwallex)</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>70</sort_order>
            </airwallex_payments_kakaopay>
            <airwallex_payments_tng>
                <active>0</active>
                <model>AirwallexPaymentsTouchNGoGatewayFacade</model>
                <allowspecific>0</allowspecific>
                <title>Pay by Touch ‘n Go (Airwallex)</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>80</sort_order>
            </airwallex_payments_tng>
            <airwallex_payments_pay_now>
                <active>0</active>
                <model>AirwallexPaymentsPaynowGatewayFacade</model>
                <allowspecific>0</allowspecific>
                <title>Pay by PayNow (Airwallex)</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>80</sort_order>
            </airwallex_payments_pay_now>
        </payment>
    </default>
</config>
