<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="airwallex_checkout_submit_all_after" instance="Airwallex\Payments\Observer\CheckoutSubmitAllAfter"/>
    </event>
    <event name="order_cancel_after">
        <observer name="airwallex_order_cancel_after" instance="Airwallex\Payments\Observer\OrderCancelAfter"/>
    </event>
    <event name="customer_customer_authenticated">
        <observer name="airwallex_customer_customer_authenticated" instance="Airwallex\Payments\Observer\CustomerCustomerAuthenticated"/>
    </event>
</config>
