.airwallex-card {
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: #E8EAED 0 0 0 1px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.airwallex-card.error {
    box-shadow: red 0 0 0 2px;
}

.airwallex-error {
    margin-top: 15px;
    color: red;
}

.awx-danger {
    color: red;
    font-weight: bold;
}

.switcher-tip {
    display: flex;
    align-items: center;
    justify-content: right;
}

.switcher-tip div {
    font-size: 12px;
    margin-left: 6px;
}

.amount .awx-amount {
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 3px;
}

#threeDs {
    z-index: 2147483647 !important;
}

#threeDsChallenge {
    z-index: 2147483647 !important;
}

.express-title {
    font-weight: 300;
    font-size: 2.6rem;
    color: #333333;
    margin-bottom: 15px;
}

.minicart-awx-express {
    margin: 0 10px 15px
}

.aws-button-mask,
.aws-button-mask-for-login,
.aws-button-mask-for-agreement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    display: none;
}

.airwallex-express-checkout {
    position: relative;
}

#co-payment-form .airwallex-express-checkout {
    margin-bottom: 30px;
}

#minicart-content-wrapper .airwallex-express-checkout {
    margin: 0 10px 15px;
}

.airwallex-express-checkout .express-title {
    display: none;
}

#co-payment-form .airwallex-express-checkout .express-title {
    display: block;
}

@media screen and (min-width: 768px) {
    @media (min-width: 769px), print {
        .box-tocart .airwallex-express-checkout {
            margin-bottom: 15px;
            width: 49%;
            min-width: 240px;
        }
    }
}

#airwallex-payments-saved-card-list {
    margin-bottom: 20px;
    width: 100%;
}

.airwallex-payments-saved-card-item {
    border-top: 1px solid gray;
    cursor: pointer;
    width: 100%;
    padding: 10px 3px;
}

.airwallex-payments-saved-card-item label {
    width: 100%;
    display: flex;
    align-items: center;
}

.airwallex-payments-saved-card-item span {
    display: inline-block;
    padding: 0 5px;
    flex-grow: 0;
}

.airwallex-payments-saved-card-item span.brand {
    flex-grow: 1;
}

.airwallex-payments-saved-card-item span.last4 {
    font-family: 'Courier New', Courier, monospace;
}

#airwallex-payments-card-save {
    cursor: pointer;
}

.airwallex-payments-saved-card-item img {
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.awx-vault.airwallex-cvc {
    border: 1px solid #c2c2c2;
    width: 30px;
    height: 29px;
    padding: 0 10px;
    margin-bottom: 5px;
    box-sizing: content-box;
}

.cvc-airwallex.label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.8rem;
    margin: 0 0 0 5px;
}

.cvc-airwallex span {
    font-weight: 600;
}

.awx-icon-wrapper {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
}

.save-card-input {
    margin-top: 13px;
    margin-bottom: 15px;
}

#my-orders-table .card-type {
    height: 48px;
    width: auto;
}

#awx-card-number {
    margin-bottom: 12px;
}

.airwallex-express-checkout {
    margin-top: 10px;
}

.table-credit-cards td {
    vertical-align: middle;
}

.airwallex .checkout-agreement {
    align-items: center;
}

.airwallex .checkout-agreements-block .checkout-agreement.field {
    margin-top: 5px;
    margin-bottom: 0;
}

.airwallex input[type="checkbox"] {
    margin-top: -5px;
}

.qrcode-payment {
    display: none;
    justify-content: center;
}

.qrcode-payment .qrcode {
    border: 1px solid darkgrey;
    padding: 10px;
    margin: 10px;
}

.qrcode-payment .iframe {
    width: 100%;
}

.qrcode-payment iframe {
    width: 100%;
    border: none;
}

.awx-split-card-container {
    color: #00112c;
    font-size: .81em;
    font-weight: 400;
    line-height: 13px;
    max-width: 380px;
}

.awx-txt {
    height: 15px;
    padding-bottom: 5px;
}

.airwallex-card {
    width: 100%;
}

.awx-card-actions-toolbar {
    margin-top: 15px;
}

.payment-method.airwallex-payments .g-recaptcha {
    margin-bottom: 20px;
}

.airwallex-payments .field-error, div.mage-error {
    margin-top: 0;
}

.airwallex .field-error, div.mage-error {
    margin-top: 0;
}

.awx-focus-input {
    box-shadow: #612fff 0 0 0 2px;
}

.awx-billing-confirm-tip {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1A1D21;
    margin-bottom: 10px;
}

.awx-billing-confirm-tip-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #42474D;
    margin-top: 5px;
    margin-bottom: 12px;
}

.checkout-payment-method .airwallex-payments .billing-address-same-as-shipping-block {
    display: flex;
}

.checkout-payment-method .airwallex-payments input[type="checkbox"] {
    top: 0;
    margin-top: 0;
}

.awx-redirect-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .awx-redirect-buttons {
        display: block;
    }

    .awx-redirect-buttons .editing {
        line-height: 2.2rem;
        padding: 14px 17px;
        font-size: 1.8rem;
    }
}

.awx-redirect-buttons .editing {
    background: white;
    border: 1px solid #E8EAED;
    color: #1979c3;
}

.awx-alert {
    border: 1px solid rgba(255, 119, 109, 1);
    border-radius: 5px;
    background: rgba(255, 239, 239, 1);
    display: flex;
    padding: 12px 16px;
}

.awx-alert .icon {
    padding: 10px 10px 10px 0;
    display: flex;
    align-items: center;
}

.awx-alert .body {
    text-align: justify;
    color: rgba(66, 71, 77, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

#countryModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}

#modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.awx-afterpay-countries {
    width: 328px;
    position: relative;
}

.input-icon {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0;

    top: 17px;
}

.input-icon svg {
    margin-right: 20px;
}

.awx-afterpay-countries {
    border-color: rgba(232, 234, 237, 1);
    z-index: 99;
    background-color: white;
}

.awx-afterpay-countries input {
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(250, 250, 251, 1);
    border: 1px solid rgba(232, 234, 237, 1);
}

.awx-afterpay-countries input::placeholder {
    color: rgba(135, 142, 153, 1);
}

.awx-afterpay-countries input:focus {
    outline: none;
    border: 1px solid #612fff;
    box-shadow: #612fff 0 0 0 1px;
}

.awx-afterpay-countries ul {
    padding-inline-start: 0;
    padding-right: 13px;
}

.awx-afterpay-countries li {
    list-style: none;
    padding: 10px 8px;
    margin: 12px 8px;
    border-radius: 5px;
}

.awx-afterpay-countries li:hover {
    color: #622ef7;
    background: #f0effe;
}

.awx-afterpay-countries .countries {
    border: 1px solid rgba(232, 234, 237, 1);
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    z-index: 5;
    width: 100%;
    background: white;
}

.awx-afterpay-countries li.selected {
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20width%3D%2212%22%20height%3D%2210%22%20viewBox%3D%220%200%2012%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2.99529%208.98128L0.520413%206.50641C0.032258%206.01825%200.032258%205.2268%200.520413%204.73864C1.00857%204.25048%201.80002%204.25048%202.28818%204.73864L3.87917%206.32963L9.7128%200.495999C10.201%200.00784397%2010.9924%200.00784397%2011.4806%200.495999C11.9687%200.984155%2011.9687%201.77561%2011.4806%202.26377L4.76305%208.98128C4.2749%209.46944%203.48344%209.46944%202.99529%208.98128Z%22%20fill%3D%22%2368707A%22%2F%3E%3C%2Fsvg%3E);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right;
}

.awx-afterpay-countries-component {
    margin-bottom: 15px;
}
