.airwallex-card {
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: #E8EAED 0 0 0 1px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.airwallex-card.error {
    box-shadow: red 0 0 0 2px;
}

.airwallex-error {
    margin-top: 5px;
    color: red;
}

#threeDs {
    z-index: 2147483647 !important;
}

#threeDsChallenge {
    z-index: 2147483647 !important;
}

.express-title {
    font-weight: 300;
    font-size: 2.6rem;
    color: #333333;
    margin-bottom: 15px;
}

.minicart-awx-express {
    margin: 0 10px 15px
}

.aws-button-mask,
.aws-button-mask-for-login,
.aws-button-mask-for-agreement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    display: none;
}

.airwallex-express-checkout {
    position: relative;
}

#co-payment-form .airwallex-express-checkout {
    margin-bottom: 30px;
}

#minicart-content-wrapper .airwallex-express-checkout {
    margin: 0 10px 15px;
}

.airwallex-express-checkout .express-title {
    display: none;
}

#co-payment-form .airwallex-express-checkout .express-title {
    display: block;
}

@media screen and (min-width: 768px) {
    @media (min-width: 769px), print {
        .box-tocart .airwallex-express-checkout {
            margin-bottom: 15px;
            width: 49%;
            min-width: 240px;
        }
    }
}

#airwallex-payments-saved-card-list {
    margin-bottom: 20px;
    width: 100%;
}

.airwallex-payments-saved-card-item {
    border-top: 1px solid gray;
    cursor: pointer;
    width: 100%;
    padding: 10px 3px;
}

.airwallex-payments-saved-card-item label {
    width: 100%;
    display: flex;
    align-items: center;
}

.airwallex-payments-saved-card-item span {
    display: inline-block;
    padding: 0 5px;
    flex-grow: 0;
}

.airwallex-payments-saved-card-item span.brand {
    flex-grow: 1;
}

.airwallex-payments-saved-card-item span.last4 {
    font-family: 'Courier New', Courier, monospace;
}

#airwallex-payments-card-save {
    cursor: pointer;
}

.airwallex-payments-saved-card-item img {
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.awx-vault.airwallex-cvc {
    border: 1px solid #c2c2c2;
    width: 30px;
    height: 29px;
    padding: 0 10px;
    margin-bottom: 5px;
    box-sizing: content-box;
}

.cvc-airwallex.label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.8rem;
    margin: 0 0 0 5px;
}

.cvc-airwallex span {
    font-weight: 600;
}

.awx-icon-wrapper {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
}

.save-card-input {
    margin-top: 13px;
    margin-bottom: 15px;
}

#my-orders-table .card-type {
    height: 48px;
    width: auto;
}

#awx-card-number {
    margin-bottom: 12px;
}

.airwallex-express-checkout {
    margin-top: 10px;
}

.table-credit-cards td {
    vertical-align: middle;
}

.airwallex .checkout-agreement {
    align-items: center;
}

.airwallex .checkout-agreements-block .checkout-agreement.field {
    margin-top: 5px;
    margin-bottom: 0;
}

.airwallex input[type="checkbox"] {
    margin-top: -5px;
}

.qrcode-payment {
    display: none;
    justify-content: center;
}

.qrcode-payment .qrcode {
    border: 1px solid darkgrey;
    padding: 10px;
    margin: 10px;
}

.qrcode-payment .iframe {
    width: 100%;
}

.qrcode-payment iframe {
    width: 100%;
    border: none;
}

.awx-split-card-container {
    color: #00112c;
    font-size: .81em;
    font-weight: 400;
    line-height: 13px;
    max-width: 380px;
}

.awx-txt {
    height: 15px;
    padding-bottom: 5px;
}

.airwallex-card {
    width: 100%;
}

.awx-card-actions-toolbar {
    margin-top: 15px;
}

.payment-method.airwallex-payments .g-recaptcha {
    margin-bottom: 20px;
}

.airwallex-payments .field-error, div.mage-error {
    margin-top: 0;
}

.airwallex .field-error, div.mage-error {
    margin-top: 0;
}

.awx-focus-input {
    box-shadow: #612fff 0 0 0 2px;
}

.awx-billing-confirm-tip {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1A1D21;
}

.awx-billing-confirm-tip-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #42474D;
    margin-top: 5px;
    margin-bottom: 12px;
}

.checkout-payment-method .airwallex-payments .billing-address-same-as-shipping-block {
    display: flex;
}

.checkout-payment-method .airwallex-payments input[type="checkbox"] {
    top: 0;
    margin-top: 0;
}

.awx-redirect-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .awx-redirect-buttons {
        display: block;
    }

    .awx-redirect-buttons .editing {
        line-height: 2.2rem;
        padding: 14px 17px;
        font-size: 1.8rem;
    }
}

.awx-redirect-buttons .editing {
    background: white;
    border: 1px solid #E8EAED;
    color: #1979c3;
}
